@import "tailwindcss";

@source '../../app/Filament/**/*.php';
@source '../../resources/views/filament/**/*.blade.php';
@source '../../vendor/filament/**/*.blade.php';

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@layer utilities {
    .font-montserrat {
        font-family: 'Montserrat', sans-serif;
    }
}

/* Forzado global para Filament y RichEditor */
body,
.fi-body,
.fi-fo-rich-editor .tiptap,
.fi-fo-rich-editor .tiptap * {
    font-family: 'Montserrat', sans-serif !important;
}